.boxParam {
    margin-top: 2em;
    display: flex;
    > div {
        margin-left: 2em;
        background-color: #666666;
    }
}

#boxActionsParams {
    text-align: center;
    width: 100%;
    > div {
        width: inherit;
        background: initial;
        > button {
            background-color: #5dc1b9;
            border: solid 2px #a0f3ee !important;
            color: black !important;
            font-size: 1em;
            font-weight: bold;
        }
    }
}