
.btnCopyCodes {
    background-color: #5dc1b9 !important;
    border: solid 2px #a0f3ee !important;
    color: black !important;
    font-weight: bold !important;
}

.composicaoDevicesCode {
    margin-top: 1em;
    margin-bottom: 2em;
}